.footerList ul li {
    margin-top: 7px;
    color: rgb(255, 119, 0);
    font-weight: bold;
}

.icon a {
    font-size: 25px;
    margin-right: 9px;
    color: #fff;

}

.footer {
    background-color: #010a31;
}