.bannerText h1 {
    font-size: 48px;
    color: #212149;
}

.bannerText small {
    font-weight: 500;
    color: #949191;
    font-size: 12px;
}

.bannerText button {
    margin-top: 25px;
    padding: 7px 30px;
    outline: none;
    border: transparent;
    background-color: #031739;
    color: #fff;
    border-radius: 3px;
    margin-bottom: 10px;
}